<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.admin.mapper.SysRoleMenuMapper">

    <resultMap type="cn.icatw.admin.domain.SysRoleMenu" id="SysRoleMenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="selectSysRoleMenuList" resultMap="SysRoleMenuMap">
        select
        id, role_id, menu_id
        from sys_role_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="menuId != null">
                and menu_id = #{menuId}
            </if>
        </where>
    </select>
</mapper>
