<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.admin.mapper.SysUserMapper">

    <resultMap type="cn.icatw.admin.domain.SysUser" id="SysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="created" column="created" jdbcType="TIMESTAMP"/>
        <result property="updated" column="updated" jdbcType="TIMESTAMP"/>
        <result property="lastLogin" column="last_login" jdbcType="TIMESTAMP"/>
        <result property="statu" column="statu" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="selectSysUserList" resultMap="SysUserMap">
        select
        id, username, password, avatar, email, city, created, updated, last_login, statu
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="city != null and city != ''">
                and city = #{city}
            </if>
            <if test="created != null">
                and created = #{created}
            </if>
            <if test="updated != null">
                and updated = #{updated}
            </if>
            <if test="lastLogin != null">
                and last_login = #{lastLogin}
            </if>
            <if test="statu != null">
                and statu = #{statu}
            </if>
        </where>
    </select>
</mapper>
